Source: mikroe-multimedia-boards
Section: main
XBSC-Family: pic32
XBSC-Group: MikroElektronika
XBSC-Subgroup: Multimedia
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: mikroe-mikromedia
Architecture: all
Depends: chpikit
Description: MikroMedia (MX460)

Package: mikroe-mikromedia-795
Architecture: all
Depends: chipkit
Description: MikroMedia (MX795)

Package: mikroe-multimedia
Architecture: all
Depends: chipkit
Description: MultiMedia (460)



